{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'admin-pp0102_students_marks_create' %}"> Создать новую оценку</a>
    
<select name="" id="id_group_select" data-group-url="{% url 'pp0102-ajax' %}">
        <option value="0">----------</option>
        <option value="1">231</option>
        <option value="2">232</option>
        <option value="3">331</option>
        <option value="4">332</option>
    </select>

    <table border="1px" id="id_students_list">
        <tr><td>Дата</td>
            {% for date in delta_date %}
                <td>{{ date }}</td>
            {% endfor %}
        </tr>

    </table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $("#id_group_select").change(function () {
            const url = $("#id_group_select").attr("data-group-url");
            const id_group = $('#id_group_select option:selected').text();  // get the selected country ID from the HTML input
            console.log(id_group)

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                data: {
                    'id_group': id_group       // add the country id to the GET parameters
                },
                success: function (data) {
                    $("#id_students_list").html(data);  // replace the contents of the city input with the data that came from the server

                }
            });

        });

    </script>
{% endblock %}