{% extends 'items/base.html' %}

{% if user.is_authenticated %}
{% block items %}
            <div style="text-align: center">
                <a href="{% url 'pp0102_lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'pp0102_practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
        <a href="{% url 'pp0102_new_practice' %}" class="btn btn-info">Создать новую практику</a>
    <table border="1px">
            {% for prac in practice %}
                 <tr>
                <td><a href="{{ prac.id }}">{{ prac.name }}</a></td> <td>Дата: {{ prac.date }}</td>
                </tr>
            {% endfor %}
    </table>


{% endblock items %}
    {% else %}
    Вы не авторизированы
{% endif %}