

<footer style="color: grey; margin-top: 300px">
    <a href="https://fipi.ru/"> <img src="../../media/links/fipi.jpg" id="fipi"></a>
    <a href="https://www.lbz.ru/metodist/iumk/informatics/er.php"> <img src="../../media/links/binom.jpg" id=""></a></a>
    <a href="https://college.ru/informatika/index.html"> <img src="../../media/links/college_ru.jpg" id=""></a></a>
    <a href="https://inf.1sept.ru/"> <img src="../../media/links/informatikA.jpg" id=""></a></a>
    <a href="https://interneturok.ru/"> <img src="../../media/links/internetUrok.jpg" id="interneturok"></a></a>
    <a href="http://www.klyaksa.net/"> <img src="../../media/links/klaksa.jpg" id=""></a></a>
    <a href="http://school-collection.edu.ru/"> <img src="../../media/links/obraz_resurces.jpg" id=""></a></a>
    <a href="https://urok.1sept.ru/информатика"> <img src="../../media/links/openUrok.jpg" id=""></a></a>
    <a href="http://pascalabc.net/"> <img src="../../media/links/paskalABC.jpg" id=""></a></a>
    <a href="https://pedsovet.org/"> <img src="../../media/links/Pedsovet.jpg" id="pedsovet"></a></a>
    <a href="https://videouroki.net/blog/"> <img src="../../media/links/videouroki.jpg" id="videouroki"></a></a>

    <style>
        @media(min-width: 320px){
            #fipi{
                width: 200px;
                height: 150px;
            }
            #interneturok{
                height: 100px;
                width: 300px;
            }
            #videouroki{
                height: 100px;
                width: 200px;
            }
        }

        @media(min-width: 160px){
            img{
                margin-left: 20px;
            }
            #fipi{
                width: 300px;
                height: 150px;
            }
            #pedsovet{
                width: 200px;
                height: 200px;
            }
            #videouroki{
                height: 100px;
                width: 400px;
            }
            #interneturok{
                height: 100px;
                width: 400px;
            }
        }

    </style>
</footer>