{#{% load static %}#}
{#<style>#}
{#                        .hello-msg{#}
{#                            font-size: 18px;#}
{#                            color: #fff;#}
{#                            margin-right: 20px;#}
{#                        }#}
{#                    </style>#}
{#                        {% if request.user.is_staff %}#}
{#                            <li><a href="{% url 'admin-about-prepod' %}">О преподавателе</a></li>#}
{#                            <li><a href="{% url 'admin-main_page' %}">Предметы</a></li>#}
{#                            <li><a href="{% url 'admin-resurces' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Веб ресурсы</a></li>#}
{#                            <li><a href="{% url 'admin:index' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Панель администратора</a></li>#}
{#                            <li><a href="{% url 'register' %}">Зарегистрировать</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="{% url 'user-about-prepod' %}">О преподавателе</a></li>#}
{#                            <li><a href="{% url 'user-page' %}">Предметы</a></li>#}
{#                            <li><a href="{% url 'user-resurces' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Веб ресурсы</a></li>#}
{#                        {% endif %}#}

{#                <span class="hello-msg">Привет, {{ request.user.name }}</span>#}
{#                <span><a class="hello-msg" href="{% url 'logout' %}">Выйти</a></span>#}