{% extends 'base.html' %}

{% if user.is_authenticated %}

{% block content %}
    <div style="width: 80%; margin-left: 10%" >
        <a href="{% url 'trpo_lectures' %}" class="btn btn-success btn-lg btn-block">МДК.02.01. Технология разработки программного обеспечения</a>
        <a href="{% url 'pp0201' %}" class="btn btn-success btn-lg btn-block">МДК.02.01. Прикладное программирование</a>
        <a href="{% url 'pp0102' %}" class="btn btn-success btn-lg btn-block">МДК.01.02. Прикладное программирование</a>
    </div>

{#    <a href="{% url 'calendar_form' %}" class="btn btn-success">Выставить оценку</a><br><br>#}
{#    <a href="{% url 'lectures_list' %}" class="btn btn-success">Лекции</a>#}
{#    <a href="{% url 'practices_list' %}" class="btn btn-success">Практики</a>#}
{#    <a href="{% url 'users_list' %}" class="btn btn-success">Студенты</a>#}
{% endblock content %}
    {% else %}
    Вы не авторизированы
{% endif %}