{% extends 'base.html' %}

{% block content %}

    <div style="width: 80%; margin-left: 10%" >
        <a href="{% url 'admin-trpo-lecture' %}" class="btn btn-success btn-lg btn-block">МДК.02.01. Технология разработки программного обеспечения</a>
        <a href="{% url 'admin-pp0201-lecture' %}" class="btn btn-success btn-lg btn-block">МДК.02.01. Прикладное программирование</a>
        <a href="{% url 'admin-pp0102-lecture' %}" class="btn btn-success btn-lg btn-block">МДК.01.02. Прикладное программирование</a>
    </div>

{% endblock content %}
