{% extends 'admin-items/base.html' %}

    {% block items %}
            <div style="text-align: center">
                <a href="{% url 'admin-trpo-lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'admin-trpo-practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
        <a href="{% url 'admin-trpo_new_lecture' %}" class="btn btn-info">Создать новую лекцию</a>
        <a href="{% url 'admin-trpo_students_marks' %}" class="btn btn-info">Просмотреть оценки</a>

<div style="text-align: center">
        <table border="1px">
        {% for lec in lectures %}
            <tr>
                <td><a href="{{ lec.id }}_download">{{ lec.name }}</a></td>
                <td>Дата: {{ lec.date }}</td>
                <td><a href="{{ lec.id }}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
</div>
    {% endblock items %}