{% extends 'items/base.html' %}

{% if user.is_authenticated %}
{% block items %}
    <div style="width: 40%; margin-left: 30%">
                <a href="{% url 'pp0201_lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'pp0201_practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
        <a href="{% url 'pp0201_new_practice' %}" class="btn btn-info">Создать новую практику</a>
            {% for prac in practice %}
                {{ prac.items_code.name }}: <a href="{{ prac.id }}">{{ prac.name }}</a> Дата: {{ prac.date }}
            {% endfor %}

{% endblock items %}
    {% else %}
    Вы не авторизированы
{% endif %}