{% extends 'base.html' %}

{% block content %}
    <div style="width: 100%">
        <a href="{% url 'used_material_report_month' %}" class="btn btn-success">Отчет за месяц</a>
        <a href="{% url 'used_material_report_week' %}" class="btn btn-success">Отчет за неделю</a>
        <a href="{% url 'used_material_report_today' %}" class="btn btn-success">Отчет за день</a>
        <form action="{% url 'used_material_report_calendar' %}" method="get">
            {% csrf_token %}
            {{ report_used_material_filter.form }}
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
    </div>

    <table border="1px" class="table table-bordered table-hover table-responsive">
    <tr>
        <td>Дата</td>
        {% for days in delta_date %}
            <td> {{ days }} </td>
        {% endfor %}
        {% for nari in nariad.all|values:"material_code"|values:"code"|distinct %}
            <tr>
                <td>{{ nari }}</td>
                {% for days in delta_days %}
                    <td>
                        {% for nariad_date in nariad %}
                            {% if nariad_date.date|string == days %}
                                {{ nariad_date.used_materials }}
                            {% endif %}
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            <tr><td>Всего:{{ summa_used_material }}</td></tr>
        {% endfor %}
    </table>

{% endblock content %}