{% extends 'base.html' %}

{% block content %}

    <a href="{% url 'admin-trpo_students_marks_create' %}"> Создать новую оценку</a>

    <form action="{% url 'admin-trpo-filtred_students_marks' %}" method="get">
        {% csrf_token %}
        <select name="" id="id_group_select" data-group-url="{% url 'trpo-ajax' %}">
        <option value="0">----------</option>
        <option value="1">231</option>
        <option value="2">232</option>
        <option value="3">331</option>
        <option value="4">332</option>
    </select>
        {{ mark_filter.form }}
        <button type="submit">Поиск</button>
    </form>
    <table border="1px" id="id_students_list">
        <tr><td>Дата</td>
            {% for date in delta_date %}
                <td>{{ date }}</td>
            {% endfor %}
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $("#id_group_select").change(function () {
            const url = $("#id_group_select").attr("data-group-url");
            const id_group = $('#id_group_select option:selected').text();
            console.log(id_group)

            $.ajax({
                url: url,
                data: {
                    'id_group': id_group,
                },
                success: function (data) {
                    $("#id_students_list").html(data);

                }
            });

        });

    </script>
{% endblock %}