{% extends 'admin-items/base.html' %}

    {% block items %}
            <div style="text-align: center">
                <a href="{% url 'admin-pp0201_lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'admin-pp0201_practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
        <a href="{% url 'admin-pp0201_new_lecture' %}" class="btn btn-info">Создать новую лекцию</a>
        <a href="{% url 'admin-pp0201_students_marks' %}" class="btn btn-info">Просмотреть оценки</a>

        <table border="1px">
        {% for lec in lectures %}
            <tr>
            <td><a href="{{ lec.id }}">{{ lec.name }}</a></td> <td>Дата: {{ lec.date }}</td>
            </tr>
            {% endfor %}
        </table>

    {% endblock items %}
