{% extends 'accounts/student/items//base.html' %}

{% if user.is_authenticated %}
    {% block items %}
            <div style="text-align: center">
                <a href="{% url 'user-pp0102_lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'user-pp0102_practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>

    <a href="{% url 'user-pp0102-marks' %}">Оценки студента</a>
<div style="text-align: center">
<table border="1px">
        {% for lec in lectures %}
            <tr>
            <td><a href="{{ lec.id }}">{{ lec.name }}</a></td> <td>Дата: {{ lec.date }}</td>
            </tr>
            {% endfor %}
        </table>
</div>


    {% endblock items %}
{% else %}
    Вы не авторизированы
{% endif %}