{% extends 'items/base.html' %}

{% if user.is_authenticated %}
{% block items %}
    <div style="text-align: center">
                <a href="{% url 'trpo_lectures' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'trpo_practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
    <a href="{% url 'trpo_new_practice' %}" class="btn btn-info">Создать новую практику</a>

    <div style="text-align: center">
    <table border="1px">
            {% for prac in practice %}
                 <tr>
                <td><a href="{{ prac.id }}">{{ prac.name }}</a></td> <td>Дата: {{ prac.date }}</td>
                </tr>
            {% endfor %}
    </table>
    </div>

{% endblock items %}
    {% else %}
    Вы не авторизированы
{% endif %}