{% extends 'admin-items/base.html' %}

{% if user.is_authenticated %}
    {% block items %}
            <div style="text-align: center">
                <a href="{% url 'admin-pp0102-lecture' %}" class="btn btn-success btn-lg">Лекции</a>
                <a href="{% url 'admin-pp0102-practice' %}" class="btn btn-success btn-lg">Практики</a>
            </div>
        <a href="{% url 'admin-pp0102_new_lecture' %}" class="btn btn-info">Создать новую лекцию</a>
        <a href="{% url 'admin-pp0102_students_marks' %}" class="btn btn-info">Просмотерть оценки</a>

<div style="text-align: center">
        <table border="1px">
        {% for lec in lectures %}
            <tr>
                <td><a href="{{ lec.id }}_download">{{ lec.name }}</a></td>
                <td>Дата: {{ lec.date }}</td>
                <td><a href="{{ lec.id }}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>


    {% endblock items %}
{% else %}
    Вы не авторизированы
{% endif %}